http_interactions:
- request:
    method: get
    uri: http://zoobank.org/MatchingTaxonNames.json/FFF7160A-372D-40E9-9611-23AF5D9EAC4C
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      string: '{"ROWCOUNT":36,"COLUMNS":["ProtonymUUID","AcceptedProtonymUUID","ProtonymUUIDArray","FullNameString","NomenclaturalCodeID","TaxonRank","SynonymType","ReferenceCount"],"DATA":{"ProtonymUUID":["FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","8C7E3E5A-3B36-4D23-AA0A-035F726DFBCD","8C7E3E5A-3B36-4D23-AA0A-035F726DFBCD","969F0B46-2FD1-42BC-A5C9-22D2410076B3","969F0B46-2FD1-42BC-A5C9-22D2410076B3","64873DE7-934E-4603-8815-2EA90B66482B","64873DE7-934E-4603-8815-2EA90B66482B","DC567BAA-2C8B-4065-9A9F-4E91441ACC9A","DC567BAA-2C8B-4065-9A9F-4E91441ACC9A","25DE7CC4-E19F-4ADB-A590-582951E60AB1","25DE7CC4-E19F-4ADB-A590-582951E60AB1","C33CA532-4060-4710-9533-7756F66B86C7","C33CA532-4060-4710-9533-7756F66B86C7","86ADEBD2-8F52-492E-9792-946B1CCFBFA8","00AB9C96-5FCA-4358-98E4-A186D8DE5490","00AB9C96-5FCA-4358-98E4-A186D8DE5490","F848129B-E72A-4C84-918B-B98BEA1FF7AC","F848129B-E72A-4C84-918B-B98BEA1FF7AC","EC88117C-C83F-4088-8347-BF9C0491D874","7CFC2F1F-1B81-4F03-9B31-E4CC81E20185","7CFC2F1F-1B81-4F03-9B31-E4CC81E20185","4A4BFEAE-ACC5-4E12-98E1-F89B37896193","4A4BFEAE-ACC5-4E12-98E1-F89B37896193","E28B3C39-6412-4F30-BED1-FFA67225EDC8","E28B3C39-6412-4F30-BED1-FFA67225EDC8"],"AcceptedProtonymUUID":["FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FFF7160A-372D-40E9-9611-23AF5D9EAC4C"],"ProtonymUUIDArray":["FBDC898C-F1EA-4768-85B0-521417959096|FFF7160A-372D-40E9-9611-23AF5D9EAC4C","97CE20CD-4D6E-4A59-8266-CD161B5521FB|FFF7160A-372D-40E9-9611-23AF5D9EAC4C","97CE20CD-4D6E-4A59-8266-CD161B5521FB|FFF7160A-372D-40E9-9611-23AF5D9EAC4C","4D4EC609-D241-411E-BA54-DD4E0530E494|FFF7160A-372D-40E9-9611-23AF5D9EAC4C","4D4EC609-D241-411E-BA54-DD4E0530E494|FFF7160A-372D-40E9-9611-23AF5D9EAC4C","67D18558-763F-48B2-8F5A-44DBCF827931|FFF7160A-372D-40E9-9611-23AF5D9EAC4C","FBDC898C-F1EA-4768-85B0-521417959096|FFF71[...]
