http_interactions:
- request:
    method: get
    uri: http://zoobank.org/References.json/427D7953-E8FC-41E8-BEA7-8AE644E6DE77
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=utf-8
      status: HTTP/1.1 200 ok
    body:
      encoding: UTF-8
      file: no
      string: '[{ "referenceuuid":"427D7953-E8FC-41E8-BEA7-8AE644E6DE77","label":
        "Randall, John E. & Richard L. Pyle.  2001. Four new serranid fishes of the
        anthiine genus Pseudanthias from the South Pacific. Raffles Bulletin of Zoology
        49(1): 19-34.", "value": "Randall, John E. & Richard L. Pyle.  2001. Four
        new serranid fishes of the anthiine genus Pseudanthias from the South Pacific.
        Raffles Bulletin of Zoology 49(1): 19-34.", "authorlist" : "Randall, John
        E. & Richard L. Pyle.", "year" : "2001", "title" : "Four new serranid fishes
        of the anthiine genus <i>Pseudanthias<\/i> from the South Pacific", "citationdetails"
        : "<I>Raffles Bulletin of Zoology<\/I> <B>49<\/B>(1): 19-34.","volume":"49","number":"1","edition":"","publisher":"","placepublished":"","pagination":"19-34","startpage":"19","endpage":"34","language":"English","languageid":"19691433","referencetype":"Journal
        Article","lsid":"urn:lsid:zoobank.org:pub:427D7953-E8FC-41E8-BEA7-8AE644E6DE77","parentreferenceid":"0089FB37-AA19-41B8-8622-011CCA4EF778","parentreference":"Raffles
        Bulletin of Zoology,  (Raffles Bull. Zool.)","authors":[[{"familyname":"Randall","givenname":"John
        Ernest","gnubuuid":"24E58859-FF5A-431B-9127-F0584680EA71"}],[{"familyname":"Pyle","givenname":"Richard
        Lawrence","gnubuuid":"8C466CBE-3F7D-4DC9-8CBD-26DD3F57E212"}]],"NomenclaturalActs"
        : [{"tnuuuid":"b1fbf746-782b-4ae8-9817-f4e3b8c03fff","OriginalReferenceUUID":"ea625d0c-de66-42e9-95bf-297d9a6c0443","protonymuuid":
        "f77e4029-f731-4b62-829e-a050365df383", "label": "Pseudanthias Bleeker in
        Bleeker 1871-1876", "value": "Pseudanthias Bleeker in Bleeker 1871-1876","lsid":"urn:lsid:zoobank.org:act:F77E4029-F731-4B62-829E-A050365DF383","parentname":"","namestring":"Pseudanthias","rankgroup":"Genus","usageauthors":"Randall
        & Pyle","taxonnamerankid":"60","parentusageuuid":"","cleanprotonym" : "Pseudanthias
        Bleeker in Bleeker, 1871","NomenclaturalCode":"ICZN"},{"tnuuuid":"6ea8bb2a-a57b-47c1-953e-042d8cd8e0e2","OriginalReferenceUUID":"427d7953-e8fc-41e8-bea7-8ae644e6de77","protonymuuid":
        "6ea8bb2a-a57b-47c1-953e-042d8cd8e0e2", "label": "carlsoni Randall & Pyle
        2001", "value": "carlsoni Randall & Pyle 2001","lsid":"urn:lsid:zoobank.org:act:6EA8BB2A-A57B-47C1-953E-042D8CD8E0E2","parentname":"Pseudanthias","namestring":"carlsoni","rankgroup":"Species","usageauthors":"Randall
        & Pyle","taxonnamerankid":"70","parentusageuuid":[...]
