http_interactions:
- request:
    method: get
    uri: http://zoobank.org/References.json/427D7953-E8FC-41E8-BEA7-8AE644E6DE77
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      string: '[{ "referenceuuid":"427D7953-E8FC-41E8-BEA7-8AE644E6DE77","label":
        "Randall, John E. & Richard L. Pyle.  2001. Four new serranid fishes of the
        anthiine genus Pseudanthias from the South Pacific. Raffles Bulletin of Zoology
        49(1): 19-34.", "value": "Randall, John E. & Richard L. Pyle.  2001. Four
        new serranid fishes of the anthiine genus Pseudanthias from the South Pacific.
        Raffles Bulletin of Zoology 49(1): 19-34.", "authorlist" : "Randall, John
        E. & Richard L. Pyle.", "year" : "2001", "title" : "Four new serranid fishes
        of the anthiine genus <i>Pseudanthias<\/i> from the South Pacific", "citationdetails"
        : "<I>Raffles Bulletin of Zoology<\/I> <B>49<\/B>(1): 19-34.","volume":"49","number":"1","edition":"","publisher":"","placepublished":"","pagination":"19-34","startpage":"19","endpage":"34","language":"English","languageid":"19691433","referencetype":"Journal
        Article","lsid":"urn:lsid:zoobank.org:pub:427D7953-E8FC-41E8-BEA7-8AE644E6DE77","parentreferenceid":"0089FB37-AA19-41B8-8622-011CCA4EF778","parentreference":"Raffles
        Bulletin of Zoology,  (Raffles Bull. Zool.)","authors":[[{"familyname":"Randall","givenname":"John
        Ernest","gnubuuid":"24E58859-FF5A-431B-9127-F0584680EA71"}],[{"familyname":"Pyle","givenname":"Richard
        Lawrence","gnubuuid":"8C466CBE-3F7D-4DC9-8CBD-26DD3F57E212"}]],"NomenclaturalActs"
        : [{"tnuuuid":"B1FBF746-782B-4AE8-9817-F4E3B8C03FFF","OriginalReferenceUUID":"EA625D0C-DE66-42E9-95BF-297D9A6C0443","protonymuuid":
        "F77E4029-F731-4B62-829E-A050365DF383", "label": "Pseudanthias Bleeker in
        Bleeker 1871-1876", "value": "Pseudanthias Bleeker in Bleeker 1871-1876","lsid":"urn:lsid:zoobank.org:act:F77E4029-F731-4B62-829E-A050365DF383","parentname":"","namestring":"Pseudanthias","rankgroup":"Genus","usageauthors":"Randall
        & Pyle","taxonnamerankid":"60","parentusageuuid":"","cleanprotonym" : "Pseudanthias
        Bleeker in Bleeker, 1871","NomenclaturalCode":"ICZN"},{"tnuuuid":"6EA8BB2A-A57B-47C1-953E-042D8CD8E0E2","OriginalReferenceUUID":"427D7953-E8FC-41E8-BEA7-8AE644E6DE77","protonymuuid":
        "6EA8BB2A-A57B-47C1-953E-042D8CD8E0E2", "label": "carlsoni Randall & Pyle
        2001", "value": "carlsoni Randall & Pyle 2001","lsid":"urn:lsid:zoobank.org:act:6EA8BB2A-A57B-47C1-953E-042D8CD8E0E2","parentname":"Pseudanthias","namestring":"carlsoni","rankgroup":"Species","usageauthors":"Randall
        & Pyle","taxonnamerankid":"70","parentusageuuid":[...]
- request:
    method: get
    uri: http://zoobank.org/References.json?search_term=pyle
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      string: '[{ "referenceuuid":"A91FACC3-F397-483F-A74F-C42D970EA2D9","label":
        "<Unspecified Agent>.  [Original description of Propylea quatuorrdecimpunctata.].
        .", "value": "<Unspecified Agent>.  [Original description of Propylea quatuorrdecimpunctata.].
        .", "authorlist" : "<Unspecified Agent>.", "year" : "", "title" : "[Original
        description of <i>Propylea quatuorrdecimpunctata<\/i>.]", "citationdetails"
        : "","volume":"","number":"","edition":"","publisher":"","placepublished":"","pagination":"","startpage":"","endpage":"","language":"","languageid":"0","referencetype":"Generic","lsid":"","parentreferenceid":"","parentreference":"","authors":[]},{
        "referenceuuid":"24689AE4-C77C-488F-8E27-E2B1D1618E80","label": "Alonso-Zarazaga,
        Miguel A., Philippe Bouchet, Richard L. Pyle, Nikita Kluge & Daphne G. Fautin.  2016.
        Manual for proposing a Part of the List of Available Names (LAN) in Zoology.
        ZooKeys 550: 283–298.", "value": "Alonso-Zarazaga, Miguel A., Philippe Bouchet,
        Richard L. Pyle, Nikita Kluge & Daphne G. Fautin.  2016. Manual for proposing
        a Part of the List of Available Names (LAN) in Zoology. ZooKeys 550: 283–298.",
        "authorlist" : "Alonso-Zarazaga, Miguel A., Philippe Bouchet, Richard L. Pyle,
        Nikita Kluge & Daphne G. Fautin.", "year" : "2016", "title" : "Manual for
        proposing a Part of the List of Available Names (LAN) in Zoology", "citationdetails"
        : "<em>ZooKeys<\/em> <b>550<\/b>: 283–298.","volume":"550","number":"","edition":"","publisher":"","placepublished":"","pagination":"283–298","startpage":"283","endpage":"298","language":"English","languageid":"19691433","referencetype":"Journal
        Article","lsid":"urn:lsid:zoobank.org:pub:24689AE4-C77C-488F-8E27-E2B1D1618E80","parentreferenceid":"91BD42D4-90F1-4B45-9350-EEF175B1727A","parentreference":"ZooKeys","authors":[[{"familyname":"Alonso-Zarazaga","givenname":"Miguel
        Angel","gnubuu[...]
